.root {
    -fx-background-color: #121212;
}

.label {
    -fx-text-fill: #E0E0E0;
}

.text-field {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #E0E0E0;
    -fx-border-color: #2962FF;
    -fx-border-width: 0 0 2 0;
}

.button {
    -fx-background-color: #2962FF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #0039cb;
}

.table-view {
    -fx-background-color: #1E1E1E;
    -fx-control-inner-background: #1E1E1E;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #1E1E1E;
}

.table-view .column-header {
    -fx-background-color: #1E1E1E;
    -fx-border-color: #2962FF;
    -fx-border-width: 0 0 2 0;
}

.table-view .column-header .label {
    -fx-text-fill: #E0E0E0;
}

.table-row-cell {
    -fx-background-color: #1E1E1E;
    -fx-text-fill: #E0E0E0;
}

.table-row-cell:odd {
    -fx-background-color: #242424;
}

.table-row-cell:selected {
    -fx-background-color: #2962FF;
}
